################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task1/.vs/Task1
/Task1/Task1/obj
/Task5/Task5/obj/project.assets.json
/Task5/Task5/obj/project.nuget.cache
*.json
*.txt
*.cache
*.dll
*.png
*._
*.xml
*.transform
*.xdt
*.xaml
*.cs
*.nupkg
*.p7s
*.ps1
*.altconfig
*.targets
*.pdb
*.settings
*.baml
*.psm1
*.psd1
*.props
*.vsidx
*.resources
*.config
*.csproj
*.suo
/Task4/Task4/obj/Debug/net8.0/apphost.exe
*.exe
*.v2
*.wsuo
*.sqlite
*.bin
*.resx
*.editorconfig
*.lref
*.sln
*.BuildWithSkipAnalyzers
