################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1/.vs/Task1/v17/.suo
*.vsidx
*.v2
/Task1/Task1/obj
/.vs
/Task2/.vs/Task2/v17
/Task2/Task2/obj
/Task3/.vs/Task3/v17
/Task3/Task3/obj
/Task1/.vs/ProjectEvaluation
/Task1/Task1/Program.cs
*.suo
*.bin
*.sln
*.json
*.dll
*.exe
*.pdb
*.csproj
*.cs
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
*.props
*.targets
*.xaml
/newtrpo/newtrpo/obj/Debug/FavoritesWindow.baml
*.baml
*.resources
*.resx
*.settings
*.config
*.lref
*.sqlite
*.p7s
*.xdt
/Trpooooooooooooooo/packages/EntityFramework.6.4.4/content/net40/App.config.transform
*.transform
*.nupkg
*.png
*.xml
*.psd1
*.psm1
*.ps1
*.altconfig
*._
